/*****ATTENTION/MODIFIED BOOTSTRAP RULE/#INLINEFORMINPUTNAME****/
#inlineFormInputName{
    border: none;
}
/*****ATTENTION/MODIFIED BOOTSTRAP RULE/#INLINEFORMINPUTNAME****/

a {
    color: white;
}

header div>a,
header div>ul {
    line-height: 3em;
}
.img img {
    max-width: 100%;
    border-radius: 7px;
}


svg {
    width: 50%;
}

.star-line {
    content: '';
    height: 2px;
    width: 30%;
}

footer {
    line-height: 0.8em;
}

.freelancer-text {
    line-height: 1.5em;
}

.border-bot-black {
    border-bottom: 1px solid black;
}

.circle {
    border-radius: 50%;
}

/***************Font Sizes****************************/
.font-size-ul-header {
    font-size: small;
}

.font-size-header-sx {
    font-size: x-large;
}

.font-size-smaller {
    font-size: smaller;
}
/**************End Font Sizes************************/

/*********************Bg-color**********************/
.bg-header {
    background-color: #2c3e50;
}

.bg-jumbo {
    background-color: #1abc9c;
}

.bg-footer {
    background-color: #3a546d;
}
/*********************End Bg-color**********************/

/***********************Media Query*********************/
@media screen and (max-width: 992px) {
    .font-size-ul-header {
        font-size: x-small;
    }

    .font-size-header-sx {
        font-size: large
    }

    .font-size-small-media-md {
        font-size: small;
    }
}

@media screen and (max-width: 768px) {
    svg {
        width: 30%;
    }

    .font-size-header-sx {
        font-size: medium
    }
}

@media screen and (max-width: 400px) {
    .font-size-header-sx {
        font-size: small;
    }
}
/********************End Media Query********************/