[class^="col"] {
    height: 50px;
}

header {
    height: 50px;
    background-color: red;
}

.container {
    height: 30px;
    background-color: springgreen;
}

.img {
    height: 125px;
    background-color: blue;
    border-radius: 20px;
}

.height-500 {
    height: 500px;
}

.height-400 {
    height: 400px;
}

.height-300 {
    height: 300px;
}